{% extends 'base.html.twig' %}

{% block title %}Tekoma
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container accueil">
		<div class="row mt-4">
			<div class="col-12 text-center mt-3 title d-md-none">
				<div class="text-warning">ADMIN</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center mt-3 mt-md-5">
				<div>
					<button class="btn btn-custom" onclick="window.location.href = '{{ path('admin_create')}}';">
						<i class="fas fa-plus"></i>
						<b>Ajouter une création</b>
					</button>
				</div>
			</div>
		</div>
		<div class="row align-items-center justify-content-center mt-5 px-3">
			{% for product in products %}
				<div class="col-12 col-md-3 text-center m-3 {% if product.isActive|e %} border border-success {% else %} border border-danger{% endif %} cardAnim">
					<a href="{{ path('admin_show' , {'slug':product.slug|e} ) }}">
						<div class="card mb-3">
							<h3 class="card-header">{{ product.name|e }}</h3>
							<div class="card-body">
								{% if product.isActive|e %}
									<h5 class="card-title text-success">Actif</h5>
								{% else %}
									<h5 class="card-title text-danger">Inactif</h5>
								{% endif %}
								<h6 class="card-subtitle text-muted pt-3">{{ product.price|e }}€</h6>
							</div>
							<img class="card-img" src="/img/uploads/{{ product.img|e }}" alt="image {{ product.name|e }}">
							<div class="card-body">
								<p class="card-text">
									{% if product.description|e|length > 50 %}
										{{ product.description|e|striptags|slice(0, 50) ~ '...' }}
									{% else %}
										{{ product.description|e }}
									{% endif %}
								</p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item {{ product.quantity|e > 0  ? 'bg-secondary' : 'bg-transparent border border-danger' }} ">
									<b>Quantité disponible
										{{ product.quantity|e }}</b>
								</li>
								{% if product.highlighted|e %}
									<li class="list-group-item bg-success">
										<b>Produit mis en avant sur la page d'accueil (
											<span class="text-light">{{ product.highlighted|e }}</span>
											)
										</b>
									</li>
									{% else %}
								{% endif %}
							</ul>
							<div class="card-body">
								<a href="{{ path('admin_delete' , {'slug':product.slug} )}}" class="card-link text-danger">Supprimer</a>
								{% if product.isActive|e %}
									<a href="{{ path('admin_activate_confirm' , {'slug':product.slug} )}}" class="card-link">Désactiver</a>
								</div>
								<div class="card-footer text-muted">
									Une création active est visible par les utilisateurs
								</div>
							{% else %}
								<a href="{{ path('admin_activate_confirm' , {'slug':product.slug} )}}" class="card-link text-light border-bottom border-light">Activer</a>
							</div>
							<div class="card-footer text-muted">
								Une création inactive n'est pas visible par les utilisateurs
							</div>
						{% endif %}
					</div>
					<div class="card">
						<div class="card-body">
							{% if product.highlighted|e %}
								<a href="{{ path('admin_unhighlight_confirm' , {'slug':product.slug} )}}" class="card-link">Enlever de la page d'accueil</a>
							{% else %}
								<a href="{{ path('admin_highlight_confirm' , {'slug':product.slug} )}}" class="card-link">Mettre en avant sur la page d'accueil</a>
							{% endif %}
						</div>
					</div>
					{# <div class="imgProduct p-4"><img class="card-img" src="/img/{{ product.img|e }}" alt="image {{ product.name|e }}"></div> #}
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="row d-flex justify-content-center logoSpec">
		<div class="col-3 col-md-2 col-lg-2 mt-3">
			<img class="card-img" src="./img/JUL.png" alt="sign logo"></div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}{% endblock %}
