{% extends 'base.html.twig' %}

{% block title %}Tekoma
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container accueil">
		<main>
			<div class="row">
				<div class="col text-center mt-3 title">
					<div>
						{{ product.name }}</div>
				</div>
			</div>
			<div class="row align-items-center justify-content-center">
				<div class="col-12 col-md-4 text-center mt-3">
					<div class="imgProduct p-4"><img class="card-img" src="/img/uploads/{{ product.img }}" alt="image {{ product.name }}"></div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3 title">
					<div>Description
						{{ product.name }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<div>{{ product.description|nl2br }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<div>{{ product.price }}
						€
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<a href="{{ path('admin')}}">
						<button class="btn btn-custom">Revenir aux créations</button>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<a href="{{ path('admin_update' , {'slug':product.slug} )}}">
						<button class="btn btn-custom-border">Modifier</button>
					</a>
				</div>
			</div>
		</main>
		{% include "footer.html.twig" %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
