{% extends 'base.html.twig' %}

{% block title %}Tekoma
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container accueil">
		<div class="row">
			<div class="col text-center mt-5 title">CONNEXION</div>
		</div>
		<div class="row justify-content-center align-items-center mt-4">
			<div class="col-8 col-md-6 text-center mt-4">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="row justify-content-center mt-4">
						<div class="col-12 text-start">
							<input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control col-12" autocomplete="email" required autofocus>
						</div>
					</div>
					<div class="row justify-content-center align-items-center mt-4">
						<div class="col-10 text-start">
							<input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control col-12" autocomplete="current-password" required>
						</div>
						<div class="col-2">
							<span toggle="#password-field" class="fas fa-eye-slash toggle-password icon-eye-size"></span>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="row justify-content-center mt-4">
						<div class="col-10 m-3 text-center">
							<button class="btn btn-lg btn-custom-border" type="submit">
								Me connecter
							</button>
						</div>
					</div>
					<div class="row justify-content-center mt-4">
						<div class="col-6 text-center">
							<a href="{{ path('creations_sign-up' , {'slug':product.slug} )}}" class="card-link">Nouveau membre ? Inscrivez-vous</a>
						</div>
					</div>
				</form>
			</div>
			<div class="row d-flex justify-content-center logoLogin">
				<div class="col-3 col-md-2 col-lg-2 mt-3">
					<img class="card-img" src="/img/JUL.png" alt="sign logo">
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
