<nav class="fixed-top">
	<div class="container-fluid">

		<div class="row d-flex align-items-center justify-content-between navBlack">
			<div class="col-2 mt-1">
				<a href="javascript:void(0);" onclick="burgerToggle()">
					<img id="burger" class="card-img  d-md-none" src="/img/burger.png" alt="logo">
				</a>
			</div>
			<div class="col-7 col-md-4 col-lg-3 mt-1">
				<a href="{{ path('home')}}">
					<img class="card-img" src="/img/TEKOMA.png" alt="logo"></a>
			</div>


			{% if app.user %}
				<div class="col-2 mt-1 text-center">
					<a href="{{ path('logout')}}" class="{{ app.request.get('_route') == 'login' ? 'active' }}">Déconnexion
					</a>
				</div>
			{% else %}
				<div class="col-2 mt-1 text-center">
					<a href="{{ path('login')}}" class="{{ app.request.get('_route') == 'login' ? 'active' }}">Connexion
					</a>
				</div>
			{% endif %}


		</div>
		{# small  #}
		<div id="myTopnav" class="row coverBlack d-none d-md-none mx-1">
			<div class="col-12 mt-2">
				<a href="{{ path('home')}}" class="{{ app.request.get('_route') == 'home' ? 'active' }}">Accueil</a>
			</div>
			<div class="col-12 mt-2">
				<a href="{{ path('specifications')}}" class="{{ app.request.get('_route') == 'specifications' ? 'active' }}">Spécifications</a>
			</div>

			<div class="col-12 mt-2">
				<a href="{{ path('creations')}}" class="{{ app.request.get('_route') matches '/creations/' ? 'active' }}">Créations</a>
			</div>

			<div class="col-12 mt-2">
				<a href="{{path('contact')}}" class="{{ app.request.get('_route') == 'contact' ? 'active' }}">Contact</a>
			</div>

			{% if is_granted('ROLE_ADMIN') %}
				<div class="col-12 my-2">
					<a href="{{path('admin')}}" class="{{ app.request.get('_route') == 'admin' ? 'active' }} text-warning">ADMIN</a>
				</div>
			{% else %}
				<div class="col-12 my-2">
					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			{% endif %}

		</div>
		{# medium  #}
		<div class="row d-none d-md-flex justify-content-between navbar navBlack">
			<div class="col-2 my-3">
				<div class="text-center">
					<a class="title {{ app.request.get('_route') == 'home' ? 'active' }}" href="{{ path('home')}}">ACCUEIL</a>
				</div>
			</div>
			<div class="col-2 col-md-3 col-lg-2 my-3">
				<div class="text-center">
					<a class="title {{ app.request.get('_route') == 'specifications' ? 'active' }}" href="{{ path('specifications')}}">SPECIFICATIONS</a>
				</div>
			</div>
			<div class="col-2 my-3">
				<div class="text-center">
					<a class="title {{ app.request.get('_route') matches '/creations/' ? 'active' }}" href="{{ path('creations')}}">CREATIONS</a>
				</div>
			</div>
			<div class="col-2 my-3">
				<div class="text-center">
					<a class="title {{ app.request.get('_route') == 'contact' ? 'active' }}" href="{{ path('contact')}}">CONTACT</a>
				</div>
			</div>
			<div class="col-2 my-3">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="text-center">
						<a class="text-warning title {{ app.request.get('_route') == 'admin' ? 'active' }}" href="{{ path('admin')}}">ADMIN</a>
					</div>
				</div>
			{% else %}
				<div class="text-center">
					<a class="title" href="#">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			{% endif %}
		</div>

	</div>
</div></nav>
